  body {
      margin: 0;
      padding: 0;
      background-color: #fff;
      font-family: 'Mulish', sans-serif;
  }

  .header {
      background-color: #21C08B;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .header__img {
      width: 200px;
      margin-left: 10px;
      margin-top: 10px;
  }

  .header__menu {
      margin-right: 60px;
      margin-top: 16px;
  }

  .header__menu ul {
      display: none;
      list-style: none;
      padding: 0;
      position: absolute;
      width: 100px;
      text-align: right;
      margin: 0 0 0 -14px;
  }

  .header__menu:hover ul, ul:hover {
      display: block;
  }

  .header__menu li {
      margin: 10px 0px;
  }

  .header__menu li {
      color: white;
      text-decoration: none;
  }

  .header__menu li:hover {
      text-decoration: underline;
  }

  .header__menu--profile {
      margin-right: 8px;
      width: 40px;
      display: flex;
  }

  .header__menu--img {
      width: 38px;
      height: 38px;
      margin-right: 6px;
  }

  .header__menu--profile p {
      margin: 0;
      color: white;
      margin-top: 5px;
  }
  .login{
    
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(33,192,139,1) 0%, rgba(124,0,255,1) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0pc 30px;
        min-height: calc(100vh - 200px);
}
.login__container{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #fff;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px ;
    min-height: 700px;
    width: 300px;
}


.login__container--form{
    display: flex;
    flex-direction: column;
}
.login__container--form label {
    font-size: 14px;

}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

